<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/form.css">
    <title>Leap Ginnie - Login</title>
</head>

<body>
    <!-- <img src="assets/ginnie-bg.jpg" alt=""> -->
    <div class="bg-img">
        <div class="form-container">
            <div class="tabs">
                <button class="tab-button active" onclick="login()">Login</button>
                <button class="tab-button " onclick="signup()">Sign Up</button>
            </div>
            <form action="" class="form">
                <p>Glad you're back.!</p>
                <div class="items">
                    <input type="email" name="email" placeholder="Email" required>
                </div>
                <div class="items">
                    <input type="password" name="password" placeholder="Password" required>
                </div>
                <div class="remeber-box">
                    <input type="checkbox"><span>Remeber me</span>
                </div>
                <div class="btn">
                    <input type="button" value="Login">
                </div>
                <div class="forget-pass-box">
                    <a href="./forgetPass.html">Forget Password ?</a>
                </div>
                <div class="divider">
                    <span class="line"></span>
                    or
                    <span class="line"></span>
                </div>
                <div class="signin-options">
                    <button><img src="../assets/devicon_google.svg" alt=""></button>
                    <button><img src="../assets/logos_facebook.svg" alt=""></button>
                    <button><img src="../assets/bi_github.svg" alt=""></button>
                </div>
            </form>
            <form action="" class="form hidden">
                <p>Just some details to get you in.!</p>
                <div class="items">
                    <input type="text" name="Username" placeholder="Username" required>
                </div>
                <div class="items">
                    <input type="email" name="email" placeholder="Email / Phone" required>
                </div>
                <div class="items">
                    <input type="password" name="password" placeholder="Password" required>
                </div>
                <div class="items">
                    <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
                </div>
                <div class="btn">
                    <input type="button" value="Sign Up">
                </div>
                <div class="divider">
                    <span class="line"></span>
                    or
                    <span class="line"></span>
                </div>
                <div class="signin-options">
                    <button><img src="../assets/devicon_google.svg" alt=""></button>
                    <button><img src="../assets/logos_facebook.svg" alt=""></button>
                    <button><img src="../assets/bi_github.svg" alt=""></button>
                </div>
            </form>
        </div>
    </div>
    <script>
        const tabButtons = document.querySelectorAll(".tab-button");
        const forms = document.querySelectorAll("form");
        // console.log(tabButtons);
        // console.log(forms[0]);

        function login(){
            tabButtons.forEach((btn, index) => {
            if(index === 0){
                btn.classList.add("active");
                forms[index].classList.remove("hidden");
            }
            else {
                btn.classList.remove("active");
                forms[index].classList.add("hidden");
            }
        });
        }
        
        function signup(){
            tabButtons.forEach((btn, index) => {
            if(index === 1){
                btn.classList.add("active");
                forms[index].classList.remove("hidden");
            }
            else {
                btn.classList.remove("active");
                forms[index].classList.add("hidden");
            }
        });
        }
    </script>
</body>

</html>