@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* border: 2px solid red; */

.bg-img {
  height: 100vh;
  background-image: url(../assets/ginnie-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  height: 600px;
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  -webkit-box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
  box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
  border-radius: 12.5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  position: relative;
  /* left: 60%; */
}

.tabs {
  /* border: 1px solid red; */
  height: 55px;
  width: 300px;
  display: flex;
  border-radius: 15px;
}

.tab-button {
  height: 100%;
  width: 50%;
  font-size: 1.25rem;
  border: none;
  outline: none;
  background: #aaaaaa26;
  color: #ffff;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.tab-button:nth-child(1) {
  border-start-start-radius: 15px;
  border-end-start-radius: 15px;
}

.tab-button:nth-child(2) {
  border-start-end-radius: 15px;
  border-end-end-radius: 15px;
}

.tab-button.active {
  background-color: #7e6ca7;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form p {
  color: #fff;
  font-size: 14px;
}

.items input {
  font-size: 1.05rem;
  color: #fff;
  height: 45px;
  width: 300px;
  border-radius: 7.5px;
  padding: 2.5px 15px;
  border: 1px solid #fff;
  outline: none;
  background-color: transparent;
}

.items input::placeholder {
  color: #fff;
}

.remeber-box {
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.remeber-box input {
  height: 15px;
  width: 15px;
}

.btn input {
  font-size: 1.05rem;
  font-weight: 500;
  padding: 10px 15px;
  height: 45px;
  width: 300px;
  border-radius: 7.5px;
  cursor: pointer;
  color: white;
  border: none;
  background: linear-gradient(
    90.57deg,
    #628eff 9.91%,
    #8740cd 53.29%,
    #580475 91.56%
  );

  transition: all 0.3s ease 0s;
}

.forget-pass-box {
  display: flex;
  justify-content: center;
}

.forget-pass-box a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.divider {
  /* border: 1px solid red; */
  color: #4d4d4d;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 18px;
}

.divider span {
  width: 120px;
  height: 2px;

  background: #4d4d4d;
}

.signin-options {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.signin-options button {
  background-color: transparent;
  height: 35px;
  width: 35px;
  border: none;
  outline: none;
  cursor: pointer;
}

.signin-options button > img {
  height: 100%;
  width: 100%;
}

.hidden {
  display: none;
}
